.gradle
.DS_Store

# built application files
*.apk
*.ap_

# Java class files
*.class

# idea project files
/.idea/.name
/.idea/workspace.xml
/.idea/libraries
*.iml
*.ipr
*.iws

# gradle
.gradle
/local.properties
/build
